extends layout

include menu-partial 

block content   
	+admin-list
	div(class='container-fluid')
		table(class='table table-bordered')
			thead
				tr
					th(scope='col') #
					th(scope='col') Ник
					th(scope='col') ФИО
					th(scope='col') Роль
					th(scope='col') Не закончены
					th(scope='col') Закончены
					th(scope='col') Грубые ошибки
					th(scope='col') Негрубые ошибки
			tbody(id='usersTable')
				each user in users
					tr(class='user' value=user.userId)
						td= user.userId
						td= user.userName
						td= user.fio
						td= user.privileges
						td(id='notFinishedAnswersCount')= user.notFinishedAnswersCount
						td= user.finishedAnswersCount
						td= user.bigMistakeCount 
						td= user.smallMistakeCount 
						td
							button(onclick='clearNotFinishedAnswersData(\'' + user.userName + '\')' class="btn btn-light") Очистить
						td
							button(onclick='deleteUser(\'' + user.userId + '\')' class="btn btn-light") Удалить пользователя  
	script.
		$(document).ready(function () { 

			
		});

		function deleteUser(userId){

		};

		function clearNotFinishedAnswersData(userName){
			console.log('clearNotFinishedAnswersData(' + userName + ')');
			$.post('/private/admin/clearNotFinishedData', {userName: userName})
				.done(function(res){
					console.log(res);
					$('#notFinishedAnswersCount').val(0);
					$('#notFinishedAnswersCount').text(0);
				})
				.fail(function(err){
					console.log('Что-то произошло не так при очистки не законченных данных');
				})

		};


