extends layout

include menu-partial 

block content   
    +admin-list
    h3= title
    form(method='post' action='/admin/settings')
        div(class='container-fluid')                
            div(class='input-group' )               
                label(class="col-sm-3 col-form-label") Список проектов:
                select(name='projects' class="custom-select")
                        each pr in prs
                            option(name="each_pr")= pr
                        else
                            option(name="each_null") null
                div(class='input-group-append')
                    button(type='submit' class="btn btn-primary") Резать    
            div(class='input-group' )
                label(class="col-sm-3 col-form-label") Пул изображений:
                input(name='image_pool' type="number" class="form-control" 
                    aria-label="default" 
                    aria-describedby="inputGroup-sizing-sm"
                    value='500'
                    min='1')
            div
                button(type='submit' class="btn btn-primary") Сохранить
                    
                        
