extends layout

include menu-partial 

block content    
    div(id='loaderForCropping' class="d-flex justify-content-center")
        div(class="spinner-border" role="status")
            span(class="sr-only") Loading...
    +admin-list
    h3= title    
        div(class='container-fluid')                
            form(method='post' action='/admin/settings/cut')
                div(id='forLoader' class='input-group' )               
                    label(class="col-sm-3 col-form-label") Список проектов:
                    select(id='projects' class="form-control")
                        each pr in prs
                            option(value=pr)= pr
                        else
                            option(value='null') null               
                    div(class='input-group-append')
                        button(id="cutTrigger" class="btn btn-primary") Резать  
            form(method='post' )
                div(class='input-group')
                    label(class="col-sm-3 col-form-label") Пул изображений:
                    input(name='image_pool' type="number" class="form-control" 
                        aria-label="default" 
                        aria-describedby="inputGroup-sizing-sm"
                        value='500'
                        min='1')
                div
                    button(type='submit' class="btn btn-primary") Сохранить
    script.
        $(document).ready(function () {
            $('#cutTrigger').click(function(e){
                e.preventDefault();
                
                $.ajax({
                    type: 'post',
                    url:  '/admin/settings/cut',
                    data: 'project_to_cut='+ $("select#projects").val(),
                    beforeSuccess: function(){
                        showLoaderIdentity();
                    },
                    success: function (data) {
                        hideLoaderIdentity();
                    },
                    error: function (err) {
                        console.log('Шо то не так( ' + err);
                    }
            }); 
        })

        // выводим идентификатор
        function showLoaderIdentity() 
        {
            $("#loader-identity").show("slow") 
        }
        
        // скрываем идентификатор
        function hideLoaderIdentity() 
        {
            $("#loader-identity").hide();  
        }
        })
                
                        
