extends layout

include menu-partial 

block content        
    +admin-list
    div(class='container-fluid')    
        table.table.table-bordered
            tbody
                tr
                    th(scope='row') Проекты для резки:
                    td 
                        select(class='custom-select my-1 mr-sm-2' id='projectsToCut' )
                            each pr in projectsToCut
                                option(value=pr)= pr
                            else
                                option(value='Выберите проект') Выберите проект 
                    td 
                        button(id="cutProject" class="btn btn-primary") Резать   
                tr
                    th(scope='row') Пул изображений(не работает):
                    td 
                        input(id='imagePool' type='number' class='form-control'
                            aria-label="default" 
                            aria-describedby="inputGroup-sizing-sm"
                            value= imagePool.value
                            min='1')
                    td 
                        button(id='saveImagePoolValue' class="btn btn-primary") Сохранить
                tr
                    th(scope='row') Удаление проектов:
                    td 
                        select(class='custom-select my-1 mr-sm-2' id='projectsToDelete') 
                            each pr in completeProjects
                                option(value=pr.project_name)= pr.project_name
                            else
                                option(value='Выберите проект' selected='selected') Выберите проект
                    td 
                        button(id="deleteProject" class="btn btn-primary") Удалить   
                tr
                    th(scope='row') Выгрузка проектов:
                    td 
                        select(class='custom-select my-1 mr-sm-2' id='projectToExport') 
                            each pr in completeProjects
                                option(value=pr.project_name)= pr.project_name
                            else
                                option(value='Выберите проект' selected='selected') Выберите проект 
                    td 
                        button(id="exportToTheExcel" class="btn btn-primary") Выгрузить  
    script.
        $(document).ready(function () {
            $('#saveImagePoolValue').click(function(e){
                e.preventDefault();         
                $.post('/private/settings/saveImagePool', {imagePool: $("input#imagePool").val()} )       
                    .fail(function(err){
                        console.log(err.status + ': ' + err.statusText);
                    });  
            });             

            $('#cutProject').click( function(e){
                e.preventDefault();                       
                if(!!$("select#projectsToCut").val()){  
                    let start = timer();   
                    start.next();   
                    let counter = '<div id="timer">';
                    counter+= '<span class="hours"></span>';
                    counter+= '<span class="minutes"> </span>';
                    counter+= '<span class="seconds"> </span>';
                    counter+= '<span class="secondTenths"> </span></div>';                               
                    $.blockUI({ message: counter});       
                    $.post('/private/settings/cutProject', { projectToCut: $("select#projectsToCut").val() })
                        .done(function(res){
                            console.log('done cutting: ' + start.next().value);
                            $.unblockUI();
                            
                            $('#projectsToDelete').append($('<option>', {
                                value: res,
                                text: res
                            }));
                            $('#projectToExport').append($('<option>', {
                                value: res,
                                text: res
                            })); 
                        })
                        .fail(function(err){
                            console.log('Time: ' + start.next().value);
                            console.log(err);                            
                            $.unblockUI();
                        }); 
                }
            });

            $('#deleteProject').click(function(){
                let projectNameForSend = $("select#projectsToDelete").val();
                if(!!projectNameForSend){
                    $.post('/private/settings/deleteProject', {projectName: projectNameForSend})
                        .done(function(res){
                            $('#projectsToDelete option[value=\''+projectNameForSend+'\']').remove();
                            $('#projectToExport option[value=\''+projectNameForSend+'\']').remove();
                        })
                        .fail(function(err){
                            console.log(err.status + ': ' + err.statusText);
                        });
                    }
            });
            $('#exportToTheExcel').click(function(e){
                e.preventDefault();
                if(!!$("select#projectToExport").val()){
                    let projectName = $("select#projectToExport").val();
                    $.blockUI({ message: '<span> Выгружаю проект</span>' });
                    $.post('/private/settings/exportToTheExcel', {projectName: projectName }) 
                        .done(function(data){
                            $.unblockUI(); 
                            if(data){
                                let workbook = new ExcelJS.Workbook();
                                let worksheet = workbook.addWorksheet(projectName);

                                worksheet.columns = [
                                    { header: 'Пакет', key: 'Package' },
                                    { header: 'Задание', key: 'Task' },
                                    { header: 'Тип ошибки', key: 'Status' },
                                    { header: 'Проект' , key: 'Project' },
                                    { header: 'Верификатор', key: 'Verificator' },
                                    { header: 'Контроллер', key: 'Controller' },
                                    { header: 'ФИО', key: 'FIO' },
                                    
                                ];
                        
                                data.forEach(row => {
                                    // Add row using key mapping to columns
                                    worksheet.addRow(
                                        {
                                            Package: row.Package,
                                            Task: row.Task,
                                            Status: row.Status,
                                            Project: row.Project,
                                            Verificator: row.Verificator,
                                            Controller: row.Controller,
                                            FIO: row.Surname + ' ' + row.Name + '. ' + row.SecondName + '. '
                                        } 
                                    );
                                }); 

                                 workbook.xlsx.writeBuffer( {
                                        base64: true
                                    })
                                    .then( function (xls64) {
                                        // build anchor tag and attach file (works in chrome)
                                        var a = document.createElement("a");
                                        var data = new Blob([xls64], { type: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" });

                                        var url = URL.createObjectURL(data);
                                        a.href = url;
                                        a.download = projectName + ".xlsx";
                                        document.body.appendChild(a);
                                        a.click();
                                        setTimeout(function() {
                                                document.body.removeChild(a);
                                                window.URL.revokeObjectURL(url);
                                            },
                                            0);
                                    })
                                    .catch(function(error) {
                                        console.log(error.message);
                                    });
                            }
                        })
                        .fail(function(err){
                            $.unblockUI();
                            console.log(err);
                        });
                    }
            });
            
        });

        function* timer() { 
            let hours = 0;
            let minutes = 0;
            let seconds = 0;
            let milliseconds = 0;
            let inter = setInterval(function(){
                ++milliseconds;
                if(milliseconds == 100){
                    milliseconds = 0;
                    seconds++;
                }
                if(seconds == 60){
                    minutes++;
                    seconds = 0;
                }
                if(minutes == 60){
                    hours++;
                    minutes = 0;
                }
                
               if(seconds < 9 && seconds.toString().length < 2){
                  seconds = '0' + seconds;
                }  
                if(minutes < 9 && minutes.toString().length < 2){
                  minutes = '0' + minutes;
                }  
                if(milliseconds < 9 && milliseconds.toString().length < 2){
                  milliseconds = '0' + milliseconds;
                } 
                if(hours  < 9 && hours.toString().length < 2){
                  hours = '0' + hours;
                } 

                $("#timer .secondTenths").html(milliseconds);	
                $("#timer .seconds").html(seconds + ':');
                $("#timer .minutes").html(minutes + ':');
                $("#timer .hours").html(hours + ':');
            }, 10);
            yield hours + ':' + minutes + ':'+ seconds + ':' + milliseconds;
            clearInterval(inter);
            yield hours + ':' + minutes + ':'+ seconds + ':' + milliseconds;
            return;
        }             


