extends layout

include menu-partial 

block content        
    +admin-list
    h3= title            
        div(class='container-fluid')    
            table.table.table-bordered
                tbody
                    tr
                        th(scope='row') Проекты для резки:
                        td 
                            select(class='custom-select my-1 mr-sm-2' id='projectsToCut' )
                                each pr in projectsToCut
                                    option(value=pr)= pr
                                else
                                    option(value='null') null  
                        td 
                            button(id="cutProject" class="btn btn-primary") Резать   
                    tr
                        th(scope='row') Пул изображений:
                        td 
                            input(id='imagePool' type='number' class='form-control'
                                aria-label="default" 
                                aria-describedby="inputGroup-sizing-sm"
                                value= imagePool
                                min='1')
                        td 
                            button(id='saveImagePoolValue' class="btn btn-primary") Сохранить
                    tr
                        th(scope='row') Удаление проектов:
                        td 
                            select(class='custom-select my-1 mr-sm-2' id='projectsToDelete') 
                                each pr in completeProjects
                                    option(value=pr.project_name)= pr.project_name
                                else
                                    option(value='Проектов нет' selected='selected') Проектов нет  
                        td 
                            button(id="deleteProject" class="btn btn-primary") Удалить   
                    tr
                        th(scope='row') Выгрузка проектов:
                        td 
                            select(class='custom-select my-1 mr-sm-2' id='projectToExport') 
                                each pr in completeProjects
                                    option(value=pr.project_name)= pr.project_name
                                else
                                    option(value='Проектов нет' selected='selected') Проектов нет  
                        td 
                            button(id="exportToTheExcel" class="btn btn-primary") Выгрузить  
    script.
        $(document).ready(function () {
            $('#saveImagePoolValue').click(function(e){
                e.preventDefault();         
                $.post('/admin/settings/saveImagePool', {imagePool: $("input#imagePool").val()})       
                    .fail(function(err){
                        console.log(err.status + ': ' + err.statusText);
                    });  
            });

            $('#cutProject').click( function(e){
                e.preventDefault();                       
                if(!!$("select#projectsToCut").val()){        
                    $.blockUI({ message: '<span id="timerForCutting"> Проект режется уже '+ Date.now() +'...</span>' }); 
                    $.post('/admin/settings/cutProject', { projectToCut: $("select#projectsToCut").val() })
                        .done(function(res){
                            $.unblockUI();
                            $('#projectsToDelete').append($('<option>', {
                                value: res,
                                text: res
                            }));
                            $('#resultOfVerification').append($('<option>', {
                                value: res,
                                text: res
                            })); 
                        })
                        .fail(function(err){
                            console.log(err.status + ': ' + err.statusText);
                        }); 
                }
            });

            $('#deleteProject').click(function(){
                let projectNameForSend = $("select#projectsToDelete").val();
                if(!!projectNameForSend){
                    $.post('/admin/settings/deleteProject', {projectName: projectNameForSend})
                        .done(function(res){
                            $('#projectsToDelete option[value=\''+projectNameForSend+'\']').remove();
                            $('#resultOfVerification option[value=\''+projectNameForSend+'\']').remove();
                        })
                        .fail(function(err){
                            console.log(err.status + ': ' + err.statusText);
                        });
                    }
            });
            $('#exportToTheExcel').click(function(){
                if(!!$("select#projectToExport").val()){
                    $.blockUI({ message: '<span> Выгружаю проект</span>' });
                    $.post('/admin/settings/exportToTheExcel', {projectName: $("select#projectToExport").val()}) 
                        .done(function(data){
                            $.unblockUI();
                             console.log(data);
                        })
                        .fail(function(err){
                            $.unblockUI();
                            console.log(err);
                        });
                    }
            });
            
        });

