extends layout

include menu-partial 

block content        
    +admin-list
    h3= title    
        div(class='container-fluid')    
            table.table.table-bordered
                tbody
                    tr
                        th(scope='row') Проекты для резки:
                        td 
                            select(class='custom-select my-1 mr-sm-2' id='projectsToCut' )
                                each pr in projectsToCut
                                    option(value=pr)= pr
                                else
                                    option(value='null') null  
                        td 
                            button(id="cutProject" class="btn btn-primary") Резать   
                    tr
                        th(scope='row') Пул изображений:
                        td 
                            input(id='imagePool' type='number' class='form-control'
                                aria-label="default" 
                                aria-describedby="inputGroup-sizing-sm"
                                value= imagePool
                                min='1')
                        td 
                            button(id='saveImagePoolValue' class="btn btn-primary") Сохранить
                    tr
                        th(scope='row') Удаление проектов:
                        td 
                            select(class='custom-select my-1 mr-sm-2' id='projectsToDelete') 
                                each pr in projectsToDelete
                                    option(value=pr.project_name)= pr.project_name
                                else
                                    option(value='Проектов нет' selected='selected') Проектов нет  
                        td 
                            button(id="deleteProject" class="btn btn-primary") Удалить   
                    tr
                        th(scope='row') Выгрузка проектов:
                        td 
                            select(class='custom-select my-1 mr-sm-2' id='resultOfVerification') 
                                each pr in projectsForResult
                                    option(value=pr.project_name)= pr.project_name
                                else
                                    option(value='Проектов нет' selected='selected') Проектов нет  
                        td 
                            button(id="getTheResult" class="btn btn-primary") Результаты    
    script.
        $(document).ready(function () {
            $('#saveImagePoolValue').click(function(e){
                e.preventDefault();                
                $.ajax({
                    type: 'post',
                    url:  '/admin/settings/saveImagePool',
                    data: 'imagePool='+ $("input#imagePool").val(),
                    error: function (err) {
                        console.log('Шо то не так( ' + err);
                    }
                });
            });

            $('#cutProject').click(function(e){
                e.preventDefault();                
                $.ajax({
                    type: 'post',
                    url:  '/admin/settings/cutProject',
                    data: 'projectToCut='+ $("select#projectsToCut").val(),
                    beforeSuccess: function(){
                        showLoaderIdentity();
                    },
                    success: function (data) {
                        hideLoaderIdentity();
                    },
                    error: function (err) {
                        console.log('Шо то не так( ' + err);
                    }
            }); 
        });

        $('#deleteProject').click(function(){
            let projectNameForSend = $("select#projectsToDelete").val();
            if(!!projectNameForSend){
                $.post('/admin/settings/deleteProject', {projectName: projectNameForSend})
                    .done(function(res){
                        $('#projectsToDelete option[value=\''+projectNameForSend+'\']').remove();
                        console.log('success: ' + res);
                    })
                    .fail(function(err){
                        console.log(err.status + ': ' + err.statusText);
                    });
                }
        });

        // выводим идентификатор
        function showLoaderIdentity() 
        {
            $("#loaderForCropping").show("slow") 
        }

        // скрываем идентификатор
        function hideLoaderIdentity() 
        {
            $("#loaderForCropping").hide();  
        }
        });


